# Experiment on Benford's Law
I want to test the Benford's Law which "... is an observation that in many real-life sets of numerical data, the leading digit is likely to be small. In sets that obey the law, the number 1 appears as the leading significant digit about 30 % of the time, while 9 appears as the leading significant digit less than 5 % of the time."

See <a href="https://en.wikipedia.org/wiki/Benford%27s_law" target="_blank">Benford's law</a>.

# Methodology
I will perform Webscraping on pages containing real world data like Wikipedia pages.
I will create Pandas dataframes containing the data and compute the occurrence frequency of the leading digits.

Finally, I will test if the computed frequencies respect the logarithmic distribution of Benford's Law.

In [ ]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/linux-64       [>                   ] (--:--) No change
pkgs/main/linux-64       [====================] (00m:00s) No change
pkgs/main/noarch         [>                   ] (--:--) No change
pkgs/main/noarch         [====================] (00m:00s) No change
pkgs/r/linux-64          [>                   ] (--:--) No change
pkgs/r/linux-64          [====================] (00m:00s) No change
pkgs/r/noarch            [>                   ] (--:--) No change
pkgs/r/noarch            [====================] (00m:00s) No change

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed

Requirement already satisfied: lxml==4.6.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (4.6.4)

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['html5lib==1.1']

pkgs/main/linux-64       Using cache
pkgs/main/noarch         Using cache
pkgs/r/linux-64          Using cache
pkgs/r/noarch            Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed

In [ ]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd
import math

## Benford's Law

In [ ]:
def benfords_law(digit):
    digit = int(digit)
    return math.log10((digit + 1)/digit)

# Experiment n. 01: Population of Nations

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"

In [ ]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")

In [ ]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>
# number of tables in the web page:
print("In the web page there are", len(tables), "tables")

In the web page there are 2 tables

In [ ]:
# I want to retrieve the table containing the following string:
string = "Country/Area"

for index,table in enumerate(tables):
    if (string in str(table)):
        table_index = index
print(table_index)

0

In [ ]:
# Create empty DF
population_data = pd.DataFrame(columns=["Country/Area", "UN continental region", "UN statistical subregion", "Population (1 July 2018)", "Population (1 July 2019)", "Change"])

# Loop trough the rows of the HTML table. HTML tables rows have the attribute "tr"
for row in tables[table_index].tbody.find_all("tr"):
    # Loop trough the columns of each row. HTML columns have the attribute "tc"
    col = row.find_all("td")
    if (col != []):
        country = col[0].text
        continental_region = col[1].text
        statistical_subregion = col[2].text
        population_2018 = col[3].text
        population_2019 = col[4].text
        change = col[5].text
        population_data = population_data.append({"Country/Area":country, "UN continental region":continental_region, "UN statistical subregion":statistical_subregion, "Population (1 July 2018)":population_2018, "Population (1 July 2019)":population_2019, "Change":change}, ignore_index=True)
    

population_data

,Country/Area,UN continental region,UN statistical subregion,Population (1 July 2018),Population (1 July 2019),Change
0,China[a],Asia,Eastern Asia,"1,427,647,786","1,433,783,686",+0.43%\n
1,India,Asia,Southern Asia,"1,352,642,280","1,366,417,754",+1.02%\n
2,United States,Americas,Northern America,"327,096,265","329,064,917",+0.60%\n
3,Indonesia,Asia,South-eastern Asia,"267,670,543","270,625,568",+1.10%\n
4,Pakistan,Asia,Southern Asia,"212,228,286","216,565,318",+2.04%\n
...,...,...,...,...,...,...
228,Montserrat (United Kingdom),Americas,Caribbean,"4,993","4,989",−0.08%\n
229,Falkland Islands (United Kingdom),Americas,South America,"3,234","3,377",+4.42%\n
230,Niue (New Zealand),Oceania,Polynesia,"1,620","1,615",−0.31%\n
231,Tokelau (New Zealand),Oceania,Polynesia,"1,319","1,340",+1.59%\n
232,Vatican City[z],Europe,Southern Europe,801,799,−0.25%\n

In [ ]:
# Faster way to extract dataframe
dataframe_list = pd.read_html(url, flavor='bs4')
population_df = dataframe_list[table_index]
population_df

,Country/Area,UN continentalregion[4],UN statisticalsubregion[4],Population(1 July 2018),Population(1 July 2019),Change
0,China[a],Asia,Eastern Asia,1427647786,1433783686,+0.43%
1,India,Asia,Southern Asia,1352642280,1366417754,+1.02%
2,United States,Americas,Northern America,327096265,329064917,+0.60%
3,Indonesia,Asia,South-eastern Asia,267670543,270625568,+1.10%
4,Pakistan,Asia,Southern Asia,212228286,216565318,+2.04%
...,...,...,...,...,...,...
229,Falkland Islands (United Kingdom),Americas,South America,3234,3377,+4.42%
230,Niue (New Zealand),Oceania,Polynesia,1620,1615,−0.31%
231,Tokelau (New Zealand),Oceania,Polynesia,1319,1340,+1.59%
232,Vatican City[z],Europe,Southern Europe,801,799,−0.25%
233,World,NaN,NaN,7631091040,7713468100,+1.08%

In [ ]:
# Drop last row
population_df.drop(population_df.tail(1).index, inplace = True)

# Drop not needed columns
population_2019 = population_df.drop(['UN continentalregion[4]', 'UN statisticalsubregion[4]', 'Population(1 July 2018)', 'Change'], axis='columns')
population_2019

                          Country/Area  Population(1 July 2019)
0                             China[a]               1433783686
1                                India               1366417754
2                        United States                329064917
3                            Indonesia                270625568
4                             Pakistan                216565318
..                                 ...                      ...
228        Montserrat (United Kingdom)                     4989
229  Falkland Islands (United Kingdom)                     3377
230                 Niue (New Zealand)                     1615
231              Tokelau (New Zealand)                     1340
232                    Vatican City[z]                      799

[233 rows x 2 columns]

In [ ]:
# I define a function to get the 1st digit of the population value
def get_leading_digit(row):
    num = row['Population(1 July 2019)']
    num_str = str(num)
    return num_str[0]

In [ ]:
# I add a column for the leading digit
population_2019['Leading Digit'] = population_2019.apply (lambda row: get_leading_digit(row), axis=1)

In [ ]:
# Isolate the result
result = population_2019.groupby('Leading Digit').count()
result = result['Population(1 July 2019)']
result = pd.DataFrame(result)
result = result.rename(columns={'Population(1 July 2019)': 'Count'})
result

               Count
Leading Digit
1                 71
2                 38
3                 28
4                 23
5                 24
6                 16
7                 10
8                 14
9                  9

In [ ]:
total = result['Count'].sum()

In [ ]:
result['Actual Percentage'] = result['Count'].apply(lambda x: x / total)
result

               Count  Actual Percentage
Leading Digit
1                 71           0.304721
2                 38           0.163090
3                 28           0.120172
4                 23           0.098712
5                 24           0.103004
6                 16           0.068670
7                 10           0.042918
8                 14           0.060086
9                  9           0.038627

In [ ]:
result = result.reset_index()
result['Benfords Law'] = result['Leading Digit'].apply(lambda i: benfords_law(i))
result

  Leading Digit  Count  Actual Percentage  Benfords Law
0             1     71           0.304721      0.301030
1             2     38           0.163090      0.176091
2             3     28           0.120172      0.124939
3             4     23           0.098712      0.096910
4             5     24           0.103004      0.079181
5             6     16           0.068670      0.066947
6             7     10           0.042918      0.057992
7             8     14           0.060086      0.051153
8             9      9           0.038627      0.045757

I can see that the population of nations follows the Benford's Law

# Experiment n.02: Length of Rivers

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_rivers_by_length"

In [ ]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data,"html.parser")

In [ ]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>
# number of tables in the web page:
print("In the web page there are", len(tables), "tables")

In the web page there are 7 tables

In [ ]:
# I want to retrieve the table containing the following string:
string = "Outflow"

for index,table in enumerate(tables):
    if (string in str(table)):
        table_index = index
print(table_index)

5

In [ ]:
# Faster way to extract dataframe
dataframe_list = pd.read_html(url, flavor='bs4')
river_df = dataframe_list[table_index]
river_df = river_df[['River', 'Length (km)']]
river_df

                                                 River      Length (km)
0    Nile–White Nile–Kagera–Nyabarongo–Mwogo–Rukara...     6,650(7,088)
1                Amazon–Ucayali–Tambo–Ene–Mantaro[n 1]  6,400[4](6,992)
2         Yangtze–Jinsha–Tongtian–Dangqu (Chang Jiang)     6,300(6,418)
3    Mississippi–Missouri–Jefferson–Beaverhead–Red ...             6275
4                          Yenisey–Angara–Selenga–Ider             5539
..                                                 ...              ...
182                                              Loire             1012
183                                          Essequibo             1010
184                                            Khopyor             1010
185                                   Tagus(Tajo/Tejo)             1006
186                                     Flinders River       1,004 [15]

[187 rows x 2 columns]

In [ ]:
# clean badly formatted data
# delete parenthesis () and what's inside
river_df['Length (km)'] = river_df['Length (km)'].str.replace(r"\(.*\)","")
# delete parenthesis [] and what's inside
river_df['Length (km)'] = river_df['Length (km)'].str.replace(r"\[.*\]","")
# remove commas
river_df['Length (km)'] = river_df['Length (km)'].str.replace(",","")
river_df

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                                 River Length (km)
0    Nile–White Nile–Kagera–Nyabarongo–Mwogo–Rukara...        6650
1                Amazon–Ucayali–Tambo–Ene–Mantaro[n 1]        6400
2         Yangtze–Jinsha–Tongtian–Dangqu (Chang Jiang)        6300
3    Mississippi–Missouri–Jefferson–Beaverhead–Red ...        6275
4                          Yenisey–Angara–Selenga–Ider        5539
..                                                 ...         ...
182                                              Loire        1012
183                                          Essequibo        1010
184                                            Khopyor        1010
185                                   Tagus(Tajo/Tejo)        1006
186                                     Flinders River       1004

[187 rows x 2 columns]

In [ ]:
# I define a function to get the 1st digit of the river length
def get_leading_digit(row):
    num = row['Length (km)']
    num_str = str(num)
    return num_str[0]

In [ ]:
# I add a column for the leading digit
river_df['Leading Digit'] = river_df.apply (lambda row: get_leading_digit(row), axis=1)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# Isolate the result
result = river_df.groupby('Leading Digit').count()
result = result['Length (km)']
result = pd.DataFrame(result)
result = result.rename(columns={'Length (km)': 'Count'})
result

               Count
Leading Digit
1                125
2                 34
3                 14
4                  7
5                  3
6                  4

In [ ]:
total = result['Count'].sum()
total

187

In [ ]:
result['Actual Percentage'] = result['Count'].apply(lambda x: x / total)
result

In [ ]:
result = result.reset_index()
result['Benfords Law'] = result['Leading Digit'].apply(lambda i: benfords_law(i))
result

  Leading Digit  Count  Actual Percentage  Benfords Law
0             1    125           0.668449      0.301030
1             2     34           0.181818      0.176091
2             3     14           0.074866      0.124939
3             4      7           0.037433      0.096910
4             5      3           0.016043      0.079181
5             6      4           0.021390      0.066947

Here I can see that river length apparently doesn't follow Benford's Law. But the reason is straightforward: the table I found on Wikipedia contains only the rivers that are longer than 1,000 km. And since no river is longer than 7,000 km, we don't have counts for digits 7, 8 and 9.

If I could find a complete river table I suppose it will follow Benford's Law. In fact here I see that it sort of follows a "truncated" Benford's Law where the highest frequency is for smaller digits.